.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 33%;
  padding: 2rem;
  background: #ebe8e8ad;
  align-items: center;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
}

.LoginForm > input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #111;
}

.LoginForm > button {
  background: rgb(14, 15, 14);
  border-radius: 5rem;
  width: fit-content;
  transition: 0.5s ease-in-out;
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  color: #fff;
  font-weight: 300;
}

.LoginDiv {
  height: 100vh;
  background-image: url("../../../assets/bikers.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(7, 241, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loginlink {
  color: rgb(8, 190, 2);
  text-decoration: none;
}

.LoginForm > button {
  font-weight: 300;
  color: #fff;
}
