* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.splashDiv {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(231, 237, 238, 0.984) 0, #8d7e7ecc 0), url('../../../assets/bike1.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.splashHeader {
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}

.loginRegDiv {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: start;
  font-weight: 600;
  font-family: sans-serif;
  padding: 1rem;
  background: rgb(7, 162, 33);
  border-radius: 5rem;
  width: fit-content;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link:hover {
  color: rgb(1, 33, 114);
  background: #fff;
  transition: 0.5s ease-in-out;
}
