.detailsWordsDiv > div {
  font-size: 15px;
  font-weight: 600;
width: 100%;
  display: flex;
  justify-content: center;
}

.detailsWordsDiv > h2 {
  font-weight: 600;
}

.detailsSm > h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 1rem;
}

.detailsDiv {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-family: sans-serif;
  text-align: start;
  width: 100%;
}

.detailsWordsDiv > div:nth-child(odd) {
  background: #c5c5c7;
  color: #2e2d2d;
}

.detailsWordsDiv > div > p {

  text-align: left;
 
}

@media (max-width: 768px) {
  .detailsDiv {
    flex-direction: column;
    margin-top: 70px;
  }

  .motorcycle-info {
    width: 100%;
    flex-grow: 1;
  }

}
