.detailsWordsDiv > div {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
}

.detailsWordsDiv > div > p {
  font-weight: 600;
  color: #111;
  text-align: left;
}

.detailsSm > h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 1rem;
}

.detailsDiv {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0.5rem;
  font-family: sans-serif;
  text-align: start;
  width: 100%;
}

.detailsWordsDiv > div:nth-child(odd) {
  background: #c5c5c7;
  color: #2e2d2d;
}

.detailsImg {
  height: 400px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .detailsDiv {
    flex-direction: column;
    margin-top: 70px;
  }

  .motorcycle-info {
    width: 100%;
    flex-grow: 1;
  }
}
