.reservationsDiv {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  color: #111;
}
.reservationsDiv>div {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  background: #fff;
  flex-basis: 30%;
  text-align: center;
}
.reservationsDiv>div>h1 {
  text-decoration: solid;
}
.success{
  position: absolute;
  top: 0;
  color: #0f0e0e;
  margin: auto;
  background: greenyellow;
  padding: 0.5rem;
}
.reservation_title{
  background-image: url("../../../assets/bikers.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.reserved_title{
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 768px){
  .reservationsDiv{
    flex-direction: column;
    max-height: 95vh;
    overflow-y: auto;
  }
}









