.vehicleImg {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding-left: 5px;
}

.vehiclesDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

p {
  padding: 10px;
  width: 90%;
}

.vehiclesDiv > h1 {
  font-size: 25px;
  text-align: center;
}

.vehicleDiv {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 57px;
}

.vehicleDiv > h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.reserve-link {
  margin: 0;
  height: 2rem;
  font-size: 21px;
  text-decoration: none;
  color: blue;
}

.vehicles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .vehicles {
    padding-bottom: 100px;
    padding-right: 3px;
    margin-right: 20px;
  }

  .vehicleImg {
    width: 80%;
    max-width: 300px;
  }
}
